.button {
  text-align: center;
}

.button a {
  display: inline-block;
  font-size: var(--font16-18px);
  font-weight: bold;
  color: var(--white);
  border-radius: 5px;
  background-color: var(--green-2);
  transition: all 0.3s;
}

.primary {
  margin-top: var(--space30-45px);
  padding: var(--space8-12px) var(--space30-45px);
}

.secondary {
  margin-top: var(--space16-18px);
  padding: var(--space8-12px) var(--font20-24px);
}

@media (min-width: 768px) {
  .button a:hover {
    background-color: var(--green-3);
    color: var(--green-1);
    transform: scale(1.1, 1.1);
  }

  .secondary {
    font-size: var(--font16-18px);
  }
}
