.stack {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
  border: 1px solid var(--gray-1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.stack img {
  width: 40%;
  height: auto;
  object-fit: cover;
  padding: var(--space8-12px);
}

.text {
  width: 60%;
  color: var(--base-color);
  margin: var(--space8-12px);
}

.text h4 {
  font-size: clamp(0.75rem, 0.321rem + 0.89vw, 1.125rem);
  font-weight: bold;
  margin-bottom: var(--space8-12px);
}

.text p {
  font-size: var(--font10-14px);
}

.text .description {
  margin-bottom: var(--space8-12px);
}

@media (min-width: 768px) {
  .stack {
    flex-direction: column;
    margin: 0 1rem;
  }

  .stack:hover {
    box-shadow: none;
    transform: scale(1.1, 1.1);
  }

  .stack img {
    width: 100%;
  }

  .text {
    width: auto;
  }
}
