.explanation {
  margin: var(--space40-60px) auto;
}

.form .text {
  font-weight: bold;
  margin-bottom: var(--space16-18px);
}

.formGroup {
  display: flex;
  flex-direction: column;
  border: 1px solid #999;
  margin-bottom: var(--space24-36px);
}

.formLabel {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--gray-2);
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.formInput,
.formTextArea {
  flex: 1;
  width: auto;
  padding: 0.5rem;
  border: 1px solid #999;
  border-radius: 5px;
}

.formInput {
  margin: var(--space8-12px) var(--space16-18px);
}

.formTextArea {
  height: 15rem;
  margin: var(--space16-18px);
}

.formPolicyGroup {
  display: flex;
  flex-direction: column;
  padding: var(--space16-18px);
  border: 2px solid var(--green-2);
  border-radius: 0.5rem;
  margin-bottom: var(--space24-36px);
}

.policy {
  margin-bottom: var(--space16-18px);
}

.link,
.checkBox {
  display: block;
  text-align: center;
  margin-bottom: var(--space16-18px);
  cursor: pointer;
  transition: all 0.3s;
}

.link {
  color: var(--green-2);
}

.checkBox {
  color: var(--base-color);
}

.link:hover {
  color: var(--white);
  background-color: var(--green-1);
}

.checkBox input {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.required {
  color: var(--white);
  font-size: var(--font10-14px);
  background-color: var(--red);
  padding: 0.25rem 0.5rem;
  margin-left: var(--space8-12px);
}

.error {
  width: 90%;
  color: var(--red);
  font-size: var(--font10-14px);
  margin: 0 1rem 0.5rem;
}

.buttonContainer {
  text-align: center;
  margin: var(--space16-18px);
}

.formButton {
  padding: var(--space8-12px) var(--space24-36px);
  font-size: var(--font20-24px);
  cursor: pointer;
  background-color: var(--green-2);
  color: var(--white);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.formButton:hover {
  background-color: var(--green-1);
}

@media (min-width: 768px) {
  .formGroup {
    flex-direction: row;
  }

  .formLabel {
    width: 35%;
    padding: var(--space24-36px);
  }

  .inputContainer {
    width: 65%;
  }

  .formInput {
    padding: 0.75rem;
    margin: var(--space24-36px) var(--space16-18px) var(--space24-36px);
  }

  .error {
    display: block;
  }
}
