.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--space16-18px);
}

.title p {
  font-size: var(--font10-14px);
}

.link {
  display: flex;
  flex-direction: column;
}

.link li {
  margin: 0 var(--space8-12px) var(--space8-12px);
}

.link a {
  display: block;
  font-weight: bold;
  color: var(--white);
  padding: var(--space8-12px) var(--space30-45px);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.button1 {
  background-color: var(--blue);
}

.button2 {
  background-color: var(--red);
}

.button3 {
  background-color: var(--base-color);
}

.tell {
  font-size: var(--font20-24px);
  font-weight: bold;
  margin-top: var(--space8-12px);
}

.call {
  margin-top: 0.25rem;
}

@media (min-width: 768px) {
  .contact {
    flex-direction: row;
    justify-content: space-around;
  }

  .title {
    margin-bottom: 0;
  }

  .contactBox {
    border-left: 2px solid var(--gray-1);
    padding: var(--space20-30px) var(--space30-45px);
  }

  .link {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .link li {
    margin: 0 var(--space16-18px) 0;
  }

  .link a:hover {
    box-shadow: none;
    transform: scale(1, 1) translateY(2px);
  }

  .tell {
    border-top: 2px solid var(--gray-1);
    padding-top: 2rem;
    margin-top: var(--space20-30px);
  }
}
