.philosophy {
  text-align: center;
  margin: var(--space40-60px) auto;
}

.philosophy h3 {
  margin-bottom: var(--space16-18px);
}

.philosophy p {
  margin-bottom: var(--space16-18px);
}

.aboutContents {
  display: flex;
  flex-direction: column;
  margin: var(--space60-90px) auto;
}

@media (min-width: 768px) {
  .aboutContents {
    flex-direction: row;
    justify-content: space-around;
  }
}
