:root {
  /* カラー */
  --white: #fff;
  --base-color: #56534f;
  --gray-1: #ccc;
  --gray-2: #eee;
  --green-1: #006400;
  --green-2: #228b22;
  --green-3: #cce7d3;
  --blue: #0067c0;
  --red: #b22d35;

  /* フォントサイズ */
  --font10-14px: clamp(0.625rem, 0.534rem + 0.45vw, 0.875rem); /* 10-14px */
  --font16-18px: clamp(1rem, 0.95rem + 0.2vw, 1.125rem); /* 16-18px */
  --font20-24px: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem); /* 20-24px */
  --font28-34px: clamp(1.75rem, 1.614rem + 0.68vw, 2.125rem); /* 28-34px */
  --logo: clamp(2rem, 0.909rem + 5.45vw, 5rem); /* 32-80px (ロゴ) */
  --heading1: clamp(2rem, 1.273rem + 3.64vw, 4rem); /* 32-64px*/
  --heading2: clamp(1.5rem, -0.5rem + 4.17vw, 3.25rem); /* 24-52px*/
  --heading3: clamp(1.25rem, 0.977rem + 1.36vw, 2rem); /* 20-32px */

  /* 余白 */
  --space8-12px: clamp(0.5rem, 0.409rem + 0.45vw, 0.75rem); /* 8-12px */
  --space16-18px: clamp(1rem, 0.95rem + 0.2vw, 1.125rem); /* 16-18px */
  --space20-30px: clamp(1.25rem, 1rem + 0.98vw, 1.875rem); /* 20-30px */
  --space24-36px: clamp(1.5rem, 1.227rem + 1.36vw, 2.25rem); /* 24-36px */
  --space30-45px: clamp(1.875rem, 1.534rem + 1.7vw, 2.813rem); /* 30-45px */
  --space40-60px: clamp(2.5rem, 2.045rem + 2.27vw, 3.75rem); /* 40-60px */
  --space60-90px: clamp(3.75rem, 3.068rem + 3.41vw, 5.625rem); /* 60-90px */
  --space80-120px: clamp(5rem, 4.091rem + 4.55vw, 7.5rem); /* 80-120px */
}

/* 基本設定 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: sans-serif;
  font-size: var(--font16-18px);
  color: var(--base-color);
}

h1 {
  font-size: var(--heading1);
  color: var(--green-1);
  line-height: 1.125;
}

h2 {
  font-size: var(--heading2);
}

h3 {
  font-size: var(--heading3);
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}
