.stackItem {
  display: flex;
  margin-bottom: 0.5rem;
  border: 1px solid var(--gray-1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.stackItem .text {
  flex: 1;
  color: var(--base-color);
  margin: var(--space8-12px);
}

.stackItem img {
  object-fit: cover;
  padding: var(--space8-12px);
}

/* レイアウト垂直方向 (デフォルト) */
.stackItem.column {
  flex-direction: column;
}

/* レイアウト水平方向 */
.stackItem.row {
  flex-direction: row;
}

.stackItem.row img {
  width: 40%;
  height: auto;
}

.stackItem.text.row {
  width: 60%;
}

.text h4 {
  font-size: clamp(1.25rem, 0.977rem + 1.36vw, 2rem);
  margin-bottom: 0.25rem;
}

.text .subTitle {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.stackItem .customColor {
  color: var(--green-2);
}

.text .date {
  font-size: var(--font10-14px);
}

.text .description {
  margin-bottom: var(--space8-12px);
}

@media (min-width: 768px) {
  .stackItem {
    flex-direction: column;
    margin: 0 1rem;
  }

  .stackItem:hover {
    box-shadow: none;
    transform: scale(1.1, 1.1);
  }

  .stackItem img {
    width: 100%;
  }

  .stackItem.row {
    flex-direction: column;
  }

  .stackItem.row img {
    width: 100%;
    height: auto;
  }

  .stackItem.text.row {
    width: 100%;
  }

  .text {
    width: auto;
  }
}
